.Agents{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 20px;
    justify-content: center;
}

.AgentCard{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 160px;
    border: 1px solid rgba(0, 0, 0, 0.4);
    height: 300px;
    line-height: 6px;
    padding: 2px 50px 50px;
    border-radius: 10px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.4)
}

.AgentCard img{
    border-radius: 50%;
    
}

.AgentCard h1{
    font-size: 20px;
    padding-top: 8px;
}